h1{
font-size: 300 px;
padding-left: 0px;
color: red;
text-align: center;
}
ul{
font-size: 15px;
color: red;
margin-left: auto;
margin-right: auto;
}
li{
display: inline;
}
p{
border: 3px solid black;
}
/*Comment*/
img{
padding-left: 0px;
}
body{
background-color: #FFFFAA;
}
.row{
display: inline;
}
img{
margin-left: auto;
margin-right: auto;
}
.thumbnail{
background-color: #FFFFAA;
}
.nav{
text-align
